<div id="<%= dom_id deity %>">
  <p>
    <strong>Name tibetan:</strong>
    <%= deity.name_tibetan %>
  </p>

  <p>
    <strong>Name sanskrit:</strong>
    <%= deity.name_sanskrit %>
  </p>

  <p>
    <strong>Name english:</strong>
    <%= deity.name_english %>
  </p>

</div>
