<% content_for :title, "Editing translation" %>

<h1>Editing translation</h1>

<%= render "form", translation: @translation %>

<br>

<div>
  <%= link_to "Back to translations", text_translations_path %>
</div>
