<% content_for :title, "Editing version" %>

<h1>Editing version</h1>

<%= render "form", version: @version %>

<br>

<div>
  <%= link_to "Show this version", [@text, @translation, @version] %> |
  <%= link_to "Back to versions", text_translation_versions_path(@text, @translation) %>
</div>
