<% content_for :title, "Editing version" %>

<h1>Editing version</h1>

<%= render "form", version: @version, show_general_fields: false, show_file_fields: true %>

<br>

<div>
  <%= link_to "Show this version", [@text, @translation, @version] %> |
  <%= link_to "Back to versions", text_translation_versions_path(@text, @translation) %>

</div>
