<% content_for :title, "New version" %>

<h1>New version for <%= @translation.language %> translation</h1>

<%= render "form", version: @version, show_general_fields: true, show_file_fields: true %>

<br>

<div>
  <%= link_to "Back to versions", [@text, @translation, :versions] %>
</div>
