.my-dropzone {
  .drop-container {
    cursor: pointer;
  }

  .message-container {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    color: #999;
  }

  .previews-container {
    margin-top: 1rem;
  }

  .preview-file {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #999 solid;
    padding: 15px 30px;
    background-color: #ebebeb;

    &:not(:first-child) {
      margin-top: 10px;
    }

    .file-icon {
      font-size: 24px;
      z-index: 2;
    }

    .file-details {
      flex-grow: 1;
      margin-left: 20px;
      z-index: 2;

      .dz-filename {
        font-weight: 600;
      }

      .dz-size {
        color: #7c7c7c;

        strong {
          font-weight: 100;
        }
      }
    }

    .file-remove-icon {
      color: black;
      font-size: 24px;
      cursor: pointer;
      z-index: 2;
    }

    .dz-error-message {
      margin-left: 0.5rem;
      font-size: 0.75rem;
      color: red;
    }
  }
}
