<div id="<%= dom_id text %>">
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-600">
    <strong>Title tibetan:</strong>
    <%= text.title_tibetan %>
  </p>

  <p class="mb-3 font-normal text-gray-700 dark:text-gray-600">
    <strong>Title phonetics:</strong>
    <%= text.title_phonetics %>
  </p>

  <p class="mb-3 font-normal text-gray-700 dark:text-gray-600">
    <strong>Notes:</strong>
    <%= text.notes %>
  </p>

</div>
