<div id="<%= dom_id text %>">
  <p>
    <strong>Title tibetan:</strong>
    <%= text.title_tibetan %>
  </p>

  <p>
    <strong>Title phonetics:</strong>
    <%= text.title_phonetics %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= text.notes %>
  </p>

</div>
