<% content_for :title, "Editing text" %>

<h1>Editing text</h1>

<div>
  <%= render 'complex_form' %>
</div>

<div>
  <%= link_to "Show this text", @text %> |
  <%= link_to "Back to texts", texts_path %>
</div>
