<nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg" aria-label="Breadcrumb">
  <ol class="inline-flex items-center">
    <li class="inline-flex items-center">
      <%= link_to texts_path, class: "flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors" do %>
        <svg class="w-3.5 h-3.5 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Home
      <% end %>
    </li>

    <% @breadcrumbs.each_with_index do |breadcrumb, index| %>
      <li class="flex items-center">
        <svg class="w-3 h-3 mx-2 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>

        <% if is_last?(index, @breadcrumbs) %>
          <span class="text-sm font-medium text-gray-500"><%= breadcrumb[:label] %></span>
        <% else %>
          <%= link_to breadcrumb[:path], class: "text-sm font-medium text-gray-700 hover:text-blue-600 transition-colors" do %>
            <%= breadcrumb[:label] %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>